@import "tailwindcss";

@import "@fontsource/montserrat-alternates/600.css";

/*Noto Sans*/
@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-sans/600.css";


/*Noto Serif*/
@import "@fontsource/noto-serif/400.css";

@theme {
    --font-montserrat-alternates: "Montserrat Alternates", sans-serif;
    --font-serif: "Noto Serif", serif;
    --font-sans: "Noto Sans", sans-serif;
}